body {
	background-color: black;
}

#gameBoard {
	border: 1px solid black;
	display: grid;
	grid-template-columns: 120px 120px 120px 120px 120px;
	grid-template-rows: 120px 120px 120px 120px 120px;
	justify-content: center;
	width: 600px;
	height: 600px;

	margin-left: auto;
	margin-right: auto;
}

#gameBoard div {
	background-color: #00EE00;
	background-repeat: no-repeat;
	background-size: cover;
}

.rider {
	background-image: url(images/rider.png);
}

.tree {
	background-image: url(images/tree.png);
}

.flag {
	background-image: url(images/flag.png);
}

.rock {
	background-image: url(images/rock.png);
}

.fenceup {
	background-image: url(images/fenceup.png);
}
.fenceside {
	background-image: url(images/fenceside.png);
}

.water {
	background-image: url(images/water.png);
}



.horseup {
	background-image: url(images/horse.png);
}

.horsedown {
	background-image: url(images/horsed.png);
}

.horseleft {
	background-image: url(images/horsel.png);
}

.horseright {
	background-image: url(images/horser.png);
}



.horserideup {
	background-image: url(images/horseride.png);
}

.horseridedown {
	background-image: url(images/horserided.png);
}

.horserideleft {
	background-image: url(images/horseridel.png);
}

.horserideright {
	background-image: url(images/horserider.png);
}



.enemyup {
	background-image: url(images/enemy.png);
}

.enemydown {
	background-image: url(images/enemyd.png);
}

.enemyleft {
	background-image: url(images/enemyl.png);
}

.enemyright {
	background-image: url(images/enemyr.png);
}



.jumpup {
	background-image: url(images/fenjump.png);
}

.jumpdown {
	background-image: url(images/fenjumpd.png);
}

.jumpleft {
	background-image: url(images/fenjumpl.png);
}

.jumpright {
	background-image: url(images/fenjumpr.png);
}


.bridge {
	background-color: #800020 !important;
}

.hidden {
	display: none;
}

.unhidden {
	display: block;
}

.titletext{
	text-align: center;
	color: #400082;
	
}

h1.titletext {font-size: 3em}
p.titletext {font-size: 2em;}

#lightbox {
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.4);
}


#positionMessage {
	position:absolute;
	top:45px;
	left:0px;
	width:100%;
}

#startMessage {
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:600px;
	height:555px;
	background-color:rgba(255,255,255,0.9);
	z-index:1;
	padding:30px;
	border:thick solid #400082;
}

#boundaryMessage {
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:600px;
	height:200px;
	background-color:rgba(255,255,255,0.9);
	z-index:1;
	padding:30px;
	border:thick solid #400082;
}

#newbutton {
	position:absolute;
	top:15px;
	right:15px;
	height:40px;
	width:100px;
	background-color: #cd4dcc;
	color: #400082;
	z-index: 2;
}

#startbutton {
	position:absolute;
	bottom:75px;
	left:290px;
	height:40px;
	width:100px;
	background-color: #cd4dcc;
	color: #400082;
	z-index: 2;
}

#finalMessage {
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:600px;
	height:300px;
	background-color:rgba(255,255,255,0.9);
	z-index:1;
	padding:30px;
	border:thick solid #400082;
}